<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="infocenterModelioHelp"
         point="org.eclipse.core.runtime.products">
      <product
            name="infocenter-ModelioHelp"
            application="org.eclipse.help.base.infocenterApplication">
         <property
               name="appName"
               value="infocenter-ModelioHelp">
         </property>
      </product>
   </extension>

</plugin>
