#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0"?>
<Module
		id="${symbol_dollar}{project.name}"
		version="${symbol_dollar}{project.version}"
		binaryversion="4.1.00"
		class="${package}.impl.${moduleName}Module"
		schema-level="2">
	<ClassPath>
		<PathEntry path='lib/${project.artifactId}-${project.version}.jar' />
		<!-- lib add example -->
		<PathEntry path='lib/commons-lang3-3.1.jar' />
	</ClassPath>
	<Profiles>
		<Profile id="TestArchetypeProfile">
			<!-- stereotypes example -->
			<Stereotype name="stereotype1" label="Stereotype 1" metaclass="Class" is-hidden="false">
				<Icon path="res/icons/Stereotype1_16.png" />
				<Image path="res/icons/Stereotype1_48.png" />
			</Stereotype>

			<Stereotype name="stereotype2" label="Stereotype 2" metaclass="ClassDiagram" is-hidden="false">
				<Icon path="res/icons/Stereotype2_16.png" />
				<Image path="res/icons/Stereotype2_16.png" />
			</Stereotype>

			<!-- tag value example -->
			<MetaclassReference metaclass="ModelElement">
				<TagTypes>
					<TagType name="TagName" label="Name" parameter-card="1" is-hidden="false" is-signed="false" />
				</TagTypes>
			</MetaclassReference>
		</Profile>
	</Profiles>

	<Gui>
		<!-- explorer command example -->
		<Commands>
			<Command id="HelloWorldCommand"
					label="%HelloWorldCommandLabel"
					tooltip="%HelloWorldCommandTooltip"
					image="res/icons/HelloWorldCommand_16.png"
					group=""
					group-image=""
					modify-model="false"
					>
				<Scope metaclass="ModelTree"/>
				<Handler class="${package}.command.HelloWorldCommand" />
			</Command>

			<!-- element creation command example -->
			<Command id="CreateElementCommandExample"
					label="%CreateElementCommandExampleLabel"
					tooltip="%CreateElementCommandExampleTooltip"
					image="res/icons/Stereotype1_16.png"
					group=""
					group-image=""
					modify-model="true"
					>
				<Scope metaclass="ModelTree"/>
				<Handler class="ElementCreate">
					<HParameter name="name" value="%CreateElementCommandExampleName"/>
					<HParameter name="metaclass" value="Class"/>
					<HParameter name="stereotype" value="stereotype1"/>
				</Handler>
			</Command>

			<!-- diagram customization example -->
			<Command id="CreateDiagramCommandExample"
					name="CreateDiagramCommandExample"
					label="%CreateDiagramCommandExampleLabel"
					tooltip="%CreateDiagramCommandExampleTooltip"
					image="res/icons/Stereotype2_16.png"
					group=""
					group-image=""
					modify-model="true"
					>
				<Scope metaclass="ModelTree"/>
				<Handler class="DiagramCreate">
					 <HParameter name="name" value="%CreateDiagramCommandExampleName"/>
					<HParameter name="metaclass" value="ClassDiagram"/>
					<HParameter name="stereotype" value="stereotype2"/>
				</Handler>
			</Command>
		</Commands>
		<Tools>
			<Tool id="CreateElementDiagramCommandExample"
					label="%CreateElementDiagramCommandExampleLabel" tooltip="%CreateElementDiagramCommandExampleTooltip"
					image="res/icons/Stereotype1_16.png">
					<Scope-source metaclass="ModelTree"/>
					<Handler class="Box">
						<HParameter name="name" value="%CreateElementDiagramCommandExampleName"/>
						<HParameter name="metaclass" value="Class"/>
						<HParameter name="stereotype" value="stereotype1"/>
					</Handler>
			</Tool>
		</Tools>
		<ContextualMenu>
			<CommandRef refid="HelloWorldCommand"/>
			<CommandRef refid="CreateElementCommandExample"/>
			<CommandRef refid="CreateDiagramCommandExample"/>
		</ContextualMenu>
		<Diagrams>
			<DiagramType base-diagram="ClassDiagram" stereotype="stereotype2">
				<Palette keepBasePalette="false">
					<ToolRef refid="CreateElementDiagramCommandExample" group="Customization"/>
				</Palette>
				<Handler class="StandardCustomizer"/>
			</DiagramType>
		</Diagrams>
		<Views/>
	</Gui>
	<Dependencies/>
</Module>

